body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #E1F8DC;
  color: purple;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}